---
layout: base
---



<link rel ="stylesheet" href="/assets/css/timeline.css">
<div class="page">
  <div class="solina">
     
   <br> 
    
    Relevant happenings in my life 
  </div>
  
  <div class="timeline">
    <div class="timeline__group">
      <span class="timeline__year time" aria-hidden="true">2016</span>
      <div class="timeline__cards">
        <div class="timeline__card card">
          <header class="card__header">
            <time class="time" datetime="2016-10-01">
              <span class="time__day">1</span>
              <span class="time__month">Oct</span>
            </time>
          </header>
          <div class="card__content">
            <p>Starting finance and accouting studies in Rzeszów </p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="timeline__group">
      <span class="timeline__year time" aria-hidden="true">2017</span>
      <div class="timeline__cards">
        <div class="timeline__card card">
          <header class="card__header">
            <time class="time" datetime="2017-02-13">
              <span class="time__day">13</span>
              <span class="time__month">Feb</span>
            </time>
          </header>
          <div class="card__content">
            <p> Joining University club „Young Economists" </p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="timeline__group">
      <span class="timeline__year time" aria-hidden="true">2018</span>
      <div class="timeline__cards">
        <div class="timeline__card card">
          <header class="card__header">
            <time class="time" datetime="2018-03-01">
              <span class="time__day">1</span>
              <span class="time__month">Mar</span>
            </time>
          </header>
          <div class="card__content">
            <p> Exchange semester at Huazhong University of science and technology </p>
        </div>
      </div>
        <div class="timeline__card card">
          <header class="card__header">
            <time class="time" datetime="2018-11-23">
              <span class="time__day">13</span>
              <span class="time__month">Nov</span>
            </time>
            <h3 class="card__title r-title">First place</h3>
          </header>
          <div class="card__content">
            <p>First place at the International Student Seminar on Management and Financial Issues in Karviná </p>
          </div>
        </div>    
      </div>
    </div>
      
    <div class="timeline__group">
      <span class="timeline__year time" aria-hidden="true">2019</span>
      <div class="timeline__cards">
        <div class="timeline__card card">
          <header class="card__header">
            <time class="time" datetime="2019-05-12">
              <span class="time__day">12</span>
              <span class="time__month">May</span>
            </time>
            <h3 class="card__title r-title">Third Place</h3>
          </header>
          <div class="card__content">
            <p> Third place at the International Student Seminar on Management and Financial Issues in Rzeszów  </p>
          </div>
        </div>
        <div class="timeline__card card">
          <header class="card__header">
            <time class="time" datetime="2019-06-28">
              <span class="time__day">28</span>
              <span class="time__month">June</span>
            </time>
            <h3 class="card__title r-title">Graduation</h3>
          </header>
          <div class="card__content">
            <p>Graduating from Rzeszów Technical University </p>
          </div>
        </div>
          <div class="timeline__card card">
          <header class="card__header">
            <time class="time" datetime="2019-10-01">
              <span class="time__day">1</span>
              <span class="time__month">Oct</span>
            </time>
          </header>
          <div class="card__content">
            <p>Starting masters degree on SGH Warsaw School of Economics </p>
          </div>
        </div>
      </div>
    </div>
           
      
  </div>
</div>
